*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#outsideContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#checkBox{
  margin-top: 2%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;  
  padding-top: 2%;
  padding-bottom: 2%;
}
#picker{
  margin-bottom: 20px;
}
.btn.btn-outline-primary{
  width: 90px;
  height: 90px;
}
