
#outsideContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#checkBox{
  margin-top: 2%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;  
  padding-top: 2%;
  padding-bottom: 2%;
}

