body {
    background: #3d3d3d;
    background: -webkit-linear-gradient(to right, #5d5d5d, #d1cac5);
    background: linear-gradient(to right, #686868, #b1afae);
    min-height: 100vh;
  }

#Btns{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn12{
   margin-top: 20px;
   width: 200px;
   height: 200px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 20px;
   border: none;
   background-color: azure;
   font-weight: lighter;
}



button:hover{
    cursor: pointer;
    color: whi;
    background-color: #343a40;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0); 
}
