body{
    background-color: #282828;
}

#Btns{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
button{
   margin-top: 20px;
   width: 200px;
   height: 200px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 20px;
   border: none;
   background-color: azure;
   font-weight: lighter;
}
button:hover{
    cursor: grab;
    background-color: cadetblue;
}
#homeBtn{
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: #282828;
    border-radius: 10px;
      
}

button:hover{
    cursor: grab;
    background-color: cadetblue;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0); 
}
